services:
    airflow-redis:
        container_name: airflow-redis
        image: redis:7.2-alpine
        command: redis-server --requirepass airflow_pass --port 6379
        healthcheck:
          test: ["CMD", "redis-cli", "ping"]
          interval: 5s
          timeout: 30s
          retries: 50
        restart: always
    airflow-mysql:
        container_name: airflow-mysql
        image: mysql:8.0-debian
        cap_add:
          - SYS_NICE
        restart: always
        environment:
            - MYSQL_ROOT_PASSWORD=airflow_pass
            - MYSQL_USER=airflow
            - MYSQL_PASSWORD=airflow_pass
            - MYSQL_DATABASE=airflow
        volumes:
            - ./create_airflow_db.sql:/docker-entrypoint-initdb.d/create_airflow_db.sql
            - ./db_data:/var/lib/mysql
    airflow-server:
        container_name: airflow-server
        image: cloudbaristaorg/airflow-server:edge
        restart: always
        command: >
            /bin/bash -c "
                # Wait for MySQL
                sleep 10

                # Clean up pid
                rm -f airflow-webserver.pid

                # Set up metadata database
                airflow db upgrade

                # Create default user
                airflow users create --username airflow --password airflow_pass --email ish@innogrid.com --firstname SuHyeon --lastname Im --role Admin

                # Start airflow
                airflow scheduler &
                airflow celery worker &
                airflow celery flower &
                airflow webserver

                # Keep the server on no matter what
                sleep infinity
            "
        depends_on:
            - airflow-mysql
        volumes:
                - ./airflow-home:/usr/local/airflow
                - /var/run/docker.sock:/var/run/docker.sock
        ports:
            - "5555:5555"
            - "8080:8080"
