apache-airflow==2.8.2
mysqlclient==2.2.4
apache-airflow-providers-mysql==5.5.3
apache-airflow-providers-sqlite==3.7.1
apache-airflow-providers-ssh==3.10.1
apache-airflow-providers-docker==3.9.1
apache-airflow-providers-imap==3.4.0
apache-airflow-providers-smtp==1.6.0
apache-airflow-providers-ftp==3.7.0
apache-airflow-providers-cncf-kubernetes==7.7.0
gusty==0.22.0
ipykernel==6.29.3
nbconvert==7.16.2
siuba==0.4.4
SQLAlchemy-Utils==0.41.1
yfinance==0.2.37
dag-factory==0.19.0
