apache-airflow==2.10.0
mysqlclient==2.2.4
apache-airflow-providers-celery==3.7.3
apache-airflow-providers-mysql==5.6.3
apache-airflow-providers-sqlite==3.8.2
apache-airflow-providers-ssh==3.12.0
apache-airflow-providers-docker==3.12.3
apache-airflow-providers-imap==3.6.1
apache-airflow-providers-smtp==1.7.1
apache-airflow-providers-ftp==3.10.1
apache-airflow-providers-cncf-kubernetes==8.3.4
gusty==0.22.1
ipykernel==6.29.5
nbconvert==7.16.4
siuba==0.4.4
SQLAlchemy-Utils==0.41.2
yfinance==0.2.41
dag-factory==0.19.0
